# Books Recommender system using clustering
Collaborative filtering
- Dataset :- https://www.kaggle.com/ra4u12/bookrecommendation

In [268]:
# Importing necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [269]:
books = pd.read_csv(r'C:\Users\yshah12\Desktop\final_ai\Book-Recommender-System\BX-Books.csv')

In [270]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Original-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,251,1995 United States Congressional Address Book,United States,1995,NaN,NaN,https://www.gutenberg.org/cache/epub/251/pg251...,https://www.gutenberg.org/cache/epub/251/pg251...,https://www.gutenberg.org/cache/epub/251/pg251...
1,252,Copyright Law of the United States of AmericaC...,Library of Congress. Copyright Office,1995,NaN,NaN,https://www.gutenberg.org/cache/epub/252/pg252...,https://www.gutenberg.org/cache/epub/252/pg252...,https://www.gutenberg.org/cache/epub/252/pg252...
2,253,The Universal Copyright Convention (1988),Coalition for Networked Information,1995,NaN,NaN,https://www.gutenberg.org/cache/epub/253/pg253...,https://www.gutenberg.org/cache/epub/253/pg253...,https://www.gutenberg.org/cache/epub/253/pg253...
3,254,The Second Story of MenoA Continuation of Socr...,Unknown,2008,NaN,NaN,https://www.gutenberg.org/cache/epub/254/pg254...,https://www.gutenberg.org/cache/epub/254/pg254...,https://www.gutenberg.org/cache/epub/254/pg254...
4,255,"QREAD, Etext Reader for Windows","Scavezze, Dan",1995,NaN,NaN,https://www.gutenberg.org/cache/epub/255/pg255...,https://www.gutenberg.org/cache/epub/255/pg255...,https://www.gutenberg.org/cache/epub/255/pg255...

In [271]:
books.drop(columns=["Original-Publication","Publisher"], axis=1, inplace=True)

In [272]:
books.iloc[237]['Image-URL-L']

'https://www.gutenberg.org/cache/epub/338/pg338.cover.medium.jpg'

In [273]:
# !curl "http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg" --out.png
# !curl http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg --output some.jpg

In [274]:
books.shape

(1182, 7)

In [275]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

#### Conclution:
Here Image URL columns is important for the poster. So, we will keep it

In [276]:
books = books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication' ,'Image-URL-L']]

In [277]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Image-URL-L
0,251,1995 United States Congressional Address Book,United States,1995,https://www.gutenberg.org/cache/epub/251/pg251...
1,252,Copyright Law of the United States of AmericaC...,Library of Congress. Copyright Office,1995,https://www.gutenberg.org/cache/epub/252/pg252...
2,253,The Universal Copyright Convention (1988),Coalition for Networked Information,1995,https://www.gutenberg.org/cache/epub/253/pg253...
3,254,The Second Story of MenoA Continuation of Socr...,Unknown,2008,https://www.gutenberg.org/cache/epub/254/pg254...
4,255,"QREAD, Etext Reader for Windows","Scavezze, Dan",1995,https://www.gutenberg.org/cache/epub/255/pg255...

In [278]:
# Lets remane some wierd columns name
books.rename(columns={"Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True)

In [279]:
books.head()

,ISBN,title,author,year,image_url
0,251,1995 United States Congressional Address Book,United States,1995,https://www.gutenberg.org/cache/epub/251/pg251...
1,252,Copyright Law of the United States of AmericaC...,Library of Congress. Copyright Office,1995,https://www.gutenberg.org/cache/epub/252/pg252...
2,253,The Universal Copyright Convention (1988),Coalition for Networked Information,1995,https://www.gutenberg.org/cache/epub/253/pg253...
3,254,The Second Story of MenoA Continuation of Socr...,Unknown,2008,https://www.gutenberg.org/cache/epub/254/pg254...
4,255,"QREAD, Etext Reader for Windows","Scavezze, Dan",1995,https://www.gutenberg.org/cache/epub/255/pg255...

In [280]:
# Now load the second dataframe

users = pd.read_csv('./BX-Users.csv')

In [281]:
users.head()

   User-ID   Location  Age
0        1  San Diego   35
1        2    Chicago   56
2        1    Phoenix   46
3        2  San Diego   48
4        3    Houston   69

In [282]:
users.shape

(66, 3)

In [283]:
# Lets remane some wierd columns name
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [284]:
users.head(2)

   user_id   location  age
0        1  San Diego   35
1        2    Chicago   56

In [285]:
# Now load the third dataframe

ratings = pd.read_csv('./BX-Book-Ratings.csv')

In [286]:
ratings.head()

   User-ID  ISBN  Book-Rating
0        1   260           85
1        2   300           92
2        1    23           13
3        2    24           14
4        3    30           28

In [287]:
ratings.shape

(66, 3)

In [288]:
# Lets remane some wierd columns name
ratings.rename(columns={"User-ID":'user_id',
                      'Book-Rating':'rating'},inplace=True)

In [289]:
ratings.head(2)

   user_id  ISBN  rating
0        1   260      85
1        2   300      92

### Conclution:
Now we have 3 dataframes
- books
- users
- ratings

In [290]:
print(books.shape, users.shape, ratings.shape, sep='\n')

(1182, 5)
(66, 3)
(66, 3)

In [291]:
ratings['user_id'].value_counts()

user_id
1     8
2     8
3     5
4     5
5     5
6     4
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    2
15    2
16    1
17    1
Name: count, dtype: int64

In [292]:
ratings['user_id'].value_counts().shape

(17,)

In [293]:
ratings['user_id'].unique().shape

(17,)

In [294]:
# Lets store users who had at least rated more than 200 books
x = ratings['user_id'].value_counts() > 1
x

user_id
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17    False
Name: count, dtype: bool

In [295]:
x[x].shape

(15,)

In [296]:
y= x[x].index

In [297]:
y

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], dtype='int64', name='user_id')

In [298]:
ratings = ratings[ratings['user_id'].isin(y)]

In [299]:
ratings.head()

   user_id  ISBN  rating
0        1   260      85
1        2   300      92
2        1    23      13
3        2    24      14
4        3    30      28

In [300]:
ratings.shape

(64, 3)

In [301]:
# Now join ratings with books

ratings_with_books = ratings.merge(books, on='ISBN')

In [302]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,image_url
0,1,260,85,An Introduction to the Study of Robert Brownin...,"Browning, Robert, 1812-1889",2008,https://www.gutenberg.org/cache/epub/260/pg260...
1,1,260,85,An Introduction to the Study of Robert Brownin...,"Browning, Robert, 1812-1889",2008,https://www.gutenberg.org/cache/epub/260/pg260...
2,2,300,92,United States Declaration of Independence,"Jefferson, Thomas, 1743-1826",1995,https://www.gutenberg.org/cache/epub/300/pg300...
3,2,300,92,United States Declaration of Independence,"Jefferson, Thomas, 1743-1826",1995,https://www.gutenberg.org/cache/epub/300/pg300...
4,1,23,13,"Narrative of the Life of Frederick Douglass, a...","Douglass, Frederick, 1818-1895",2006,https://www.gutenberg.org/cache/epub/23/pg23.c...

In [303]:
ratings_with_books.shape

(83, 7)

In [304]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [305]:
number_rating.head()

                                               title  rating
0         A Dream of John Ball; and, A King's Lesson       1
1  A Psychological Counter-Current in Recent Fiction       1
2                                A pair of blue eyes       1
3                                           Aeneidos       1
4  America, Through the Spectacles of an Oriental...       1

In [306]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [307]:
number_rating.head()

                                               title  num_of_rating
0         A Dream of John Ball; and, A King's Lesson              1
1  A Psychological Counter-Current in Recent Fiction              1
2                                A pair of blue eyes              1
3                                           Aeneidos              1
4  America, Through the Spectacles of an Oriental...              1

In [308]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [309]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,image_url,num_of_rating
0,1,260,85,An Introduction to the Study of Robert Brownin...,"Browning, Robert, 1812-1889",2008,https://www.gutenberg.org/cache/epub/260/pg260...,2
1,1,260,85,An Introduction to the Study of Robert Brownin...,"Browning, Robert, 1812-1889",2008,https://www.gutenberg.org/cache/epub/260/pg260...,2
2,2,300,92,United States Declaration of Independence,"Jefferson, Thomas, 1743-1826",1995,https://www.gutenberg.org/cache/epub/300/pg300...,2
3,2,300,92,United States Declaration of Independence,"Jefferson, Thomas, 1743-1826",1995,https://www.gutenberg.org/cache/epub/300/pg300...,2
4,1,23,13,"Narrative of the Life of Frederick Douglass, a...","Douglass, Frederick, 1818-1895",2006,https://www.gutenberg.org/cache/epub/23/pg23.c...,2

In [310]:
final_rating.shape

(83, 8)

In [311]:
# Lets take those books which got at least 50 rating of user

final_rating = final_rating[final_rating['num_of_rating'] >= 1]

In [312]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,image_url,num_of_rating
0,1,260,85,An Introduction to the Study of Robert Brownin...,"Browning, Robert, 1812-1889",2008,https://www.gutenberg.org/cache/epub/260/pg260...,2
1,1,260,85,An Introduction to the Study of Robert Brownin...,"Browning, Robert, 1812-1889",2008,https://www.gutenberg.org/cache/epub/260/pg260...,2
2,2,300,92,United States Declaration of Independence,"Jefferson, Thomas, 1743-1826",1995,https://www.gutenberg.org/cache/epub/300/pg300...,2
3,2,300,92,United States Declaration of Independence,"Jefferson, Thomas, 1743-1826",1995,https://www.gutenberg.org/cache/epub/300/pg300...,2
4,1,23,13,"Narrative of the Life of Frederick Douglass, a...","Douglass, Frederick, 1818-1895",2006,https://www.gutenberg.org/cache/epub/23/pg23.c...,2

In [313]:
final_rating.shape

(83, 8)

In [314]:
# lets drop the duplicates
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [315]:
final_rating.shape

(63, 8)

In [316]:
# Lets create a pivot table
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating')

In [317]:
book_pivot

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
title,,,,,,,,,,,,,,,
"A Dream of John Ball; and, A King's Lesson",NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Psychological Counter-Current in Recent Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN
A pair of blue eyes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,NaN
Aeneidos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
"America, Through the Spectacles of an Oriental Diplomat",NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Three Elephant Power, and Other Stories",NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Twice-Told Tales,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uncle Josh's Punkin Centre Stories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
United States Declaration of Independence,NaN,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vida De Lazarillo De Tormes Y De Sus Fortunas Y Adversidades,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [318]:
book_pivot.shape

(63, 15)

In [319]:
book_pivot.fillna(0, inplace=True)

In [320]:
book_pivot

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
title,,,,,,,,,,,,,,,
"A Dream of John Ball; and, A King's Lesson",0.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Psychological Counter-Current in Recent Fiction,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0,0.0,0.0
A pair of blue eyes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,0.0
Aeneidos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
"America, Through the Spectacles of an Oriental Diplomat",0.0,0.0,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Three Elephant Power, and Other Stories",0.0,0.0,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Twice-Told Tales,49.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Uncle Josh's Punkin Centre Stories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
United States Declaration of Independence,0.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Vida De Lazarillo De Tormes Y De Sus Fortunas Y Adversidades,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Training Model

In [321]:
from scipy.sparse import csr_matrix

In [322]:
book_sparse = csr_matrix(book_pivot)

In [323]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [324]:
# Now import our clustering algoritm which is Nearest Neighbors this is an unsupervised ml algo
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [325]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [326]:
distance, suggestion = model.kneighbors(book_pivot.iloc[2,:].values.reshape(1,-1), n_neighbors=2 )

In [327]:
distance

array([[ 0., 66.]])

In [328]:
suggestion

array([[ 2, 51]])

In [329]:
book_pivot.iloc[3,:]

user_id
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    1.0
Name: Aeneidos, dtype: float64

In [330]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['A pair of blue eyes', 'The Secret Agent: A Simple Tale'], dtype='object', name='title')

In [331]:
book_pivot.index[3]

'Aeneidos'

In [332]:
#keeping books name
book_names = book_pivot.index

In [333]:
book_names[2]

'A pair of blue eyes'

In [334]:
# np.where(book_pivot.index == '4 Blondes')[0][0]

# find url

In [335]:
# final_rating['title'].value_counts()
ids = np.where(final_rating['title'] == "A pair of blue eyes")[0][0]

In [336]:
final_rating.iloc[ids]['image_url']

'https://www.gutenberg.org/cache/epub/224/pg224.cover.medium.jpg'

In [337]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [338]:
book_name[0]

Index(['A pair of blue eyes', 'The Secret Agent: A Simple Tale'], dtype='object', name='title')

In [339]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [340]:
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

https://www.gutenberg.org/cache/epub/224/pg224.cover.medium.jpg
https://www.gutenberg.org/cache/epub/974/pg974.cover.medium.jpg

In [341]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

# Testing model

In [342]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [343]:
book_name = "The Secret Agent: A Simple Tale"
recommend_book(book_name)

You searched 'The Secret Agent: A Simple Tale'

The suggestion books are:

Little Women
Uncle Josh's Punkin Centre Stories
The Holy War, Made by King Shaddai Upon Diabolus, for the Regaining of the Metropolis of the World; Or, The Losing and Taking Again of the Town of Mansoul
Aeneidos
Latin Vulgate, Bible Book Titles and Names